/* CSS Document */

body {
   min-height: 800px;
   padding-top: 105px;
}
.map-alt-mobile {
   display: none;
}
/* embed code */

.embed-code {
   height: 150px;
   overflow: auto;
   background-color: #00425F;
   color: #fff;
   margin-bottom: 15px;
}
code {
   background-color: #00425F;
   color: #fff;
}
/* Logo top */

.navbar-header {
/* padding-left:15px; */
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
   margin-right: 15px;
   margin-left: 15px;
}
.navbar-brand img {
   margin-top: -10px
}
.navbar-brand span {
   display: none;
}
/* Main navigation top */
.nav > li > a {
   text-transform: uppercase;
   color: #1C7FD7;
   font-weight: bold;
}
.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active {
   background-color: transparent !important;
   color: #85B200 !important;
   text-decoration: none;
}
.nav > li.active a, .nav > li.current-menu-item a {
   color: #85B200;
}
.navbar {
   background-color: #FFF;
   opacity: 0.95;
   box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
ul.navbar-nav {
   padding-top: 42px;
}
.navbar-nav>li>a {
   padding: 0 10px;
}
.nav-login a {
   color: #666666 !important;
}
/* top search box */
.nav-search {
   position: absolute;
   margin-top: 35px;
   background-color: red;
   float: right;
   display: inline-block;
   width: 0px;
}
.searchbox {
   position: relative;
   min-width: 37px;
   width: 0%;
   height: 28px;
   float: right;
   overflow: hidden;
   -webkit-transition: width 0.3s;
   -moz-transition: width 0.3s;
   -ms-transition: width 0.3s;
   -o-transition: width 0.3s;
   transition: width 0.3s;
}
.searchbox-input {
   top: 0;
   right: 0;
   border: 0;
   outline: 0;
   background: #fff;
   width: 100%;
   height: 28px;
   margin: 0;
   font-size: 12px;
   color: #444;
   padding-left: 15px;
}
.searchbox-icon, .searchbox-submit {
   width: 37px;
   height: 28px;
   display: block;
   position: absolute;
   top: 0;
   font-family: verdana;
   font-size: 12px;
   right: 0;
   padding: 0;
   margin: 0;
   border: 0;
   outline: 0;
   line-height: 12px;
   text-align: center;
   cursor: pointer;
   color: #444;
   background: #fff;
   background-image: url('../img/search.png');
   text-indent: -9999px;
}
.searchbox-open {
   width: 300px;
   position: relative;
   border-bottom: 1px solid #eee; 
}
 .searchbox-input::-webkit-input-placeholder {
 color: #444;
}
.searchbox-input:-moz-placeholder {
 color: #444;
}
.searchbox-input::-moz-placeholder {
 color: #444;
}
.searchbox-input:-ms-input-placeholder {
 color: #444;
}
/* Map container */

.map-menu {
   background-color: #FFF;
   width: 268px;
   position: absolute;
   margin-left: 15px;
   margin-top: 15px;
   padding: 15px;
   z-index: 1;
   display: none;
}
.map-results {
   color: #fff;
   font-size: 16px;
   margin: -15px -15px 10px;
   padding: 5px 15px;
   background-color: #00425F;
}
#map-container {
   min-height: 400px;
}

.project-vis-wrapper{
   width: 100%;
   height: 420px;
   display: block;
   opacity: 0;
}
.bar-chart-wrapper, .scatter-plot-wrapper, .circle-package-wrapper{
   display: none;
}
a.map-btn {
   display: block;
   color: #fff;
   background-color: #2581D4;
   width: 100%;
   margin: 5px 0;
   line-height: 36px;
   padding: 0 15px;
}
a.map-btn:hover {
   background-color: #84B400;
   text-decoration: none;
   color: #fff;
}
.bar-chart {
   background: url("../img/btn-bar.png") no-repeat right bottom;
}
.scatter-plot {
   background: url("../img/btn-scatter.png") no-repeat right bottom;
}
.circle-package {
   background: url("../img/btn-circle.png") no-repeat right bottom;
}
a.btn-visualisation {
   display: block;
   background: url("../img/btn-visualisation.png") no-repeat top center;
   padding-top: 105px;
   font-size: 21px;
   color: #2580D3;
   text-align: center;
   text-decoration: none;
}
a.btn-map {
   display: block;
   background: url("../img/btn-map.png") no-repeat top center;
   padding-top: 105px;
   font-size: 21px;
   color: #2580D3;
   text-align: center;
   text-decoration: none;
}
a.btn-visualisation:hover, a.btn-map:hover {
   color: #84B400;
}
/* slider */

#carousel-homepage {
   margin: -48px 15px 30px 15px;
   background-color: #EEEEEE;
   box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
   padding-bottom: 30px;
   position: relative;
}
.carousel-header {
   background-color: #00425F;
   color: #FFF;
   line-height: 48px;
   font-size: 24px;
   padding: 0 15px;
}
.carousel-header strong {
   font-weight: 800;
}
.carousel-inner .item {
   padding: 30px 0;
}
.carousel-indicators {
   position: relative;
   float: right;
   margin: 0;
   padding: 0;
   left: auto;
   bottom: auto;
   width: auto;
}
.carousel-indicators li {
   display: inline-block;
   width: 12px;
   height: 12px;
   margin: 1px;
   text-indent: -999px;
   border: 2px solid #FFF;
   border-radius: 12px;
   cursor: pointer;
   background-color: transparent;
}
.carousel-indicators .active {
   margin: 1px;
   width: 12px;
   height: 12px;
   background-color: #EE1741;
   border: 2px solid #EE1741;
}
h1.carousel-title {
   font-size: 30px;
   color: #2581d4;
   font-weight: bold;
   margin-top: 0px;
}
.carousel-inner .legend {
   font-size: 21px;
   padding-left: 15px;
   line-height: 21px;
   color: #008ccb;
   margin-bottom: 5px;
}
.carousel-inner .legend.funds {
   border-left: 40px solid #00A3D8;
}
.carousel-inner .legend.projects {
   border-left: 40px solid #00689E;
}
/* gray columns */

.gray-col {
   background-color: #EEEEEE;
   padding: 15px;
   box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
   margin-bottom: 30px;
}
.blue-corner {
   background: #EEEEEE url('../img/blue-corner.png') no-repeat right bottom;
}
.gray-col h2 {
   margin-top: 0;
   min-height: 46px;
}
/* Download buttons */

.btn-download-data {
   min-width: 100px;
}
.btn-download-all-data {
   margin: 5px 5px 5px 0px;
   min-width: 310px;
   /* padding: 10px; */
   text-align: left;
   background: url('../img/download-all-data.png') no-repeat right center #00425F;
}
.btn-download-data:hover, .btn-download-all-data:hover {
   background-color: #84B400;
}
/* Global styles */

h1, h2, h3, h4 {
   color: #3388D7;
   font-weight: 600;
}
hr {
   color: #0070A2;
   border-color: #0070A2;
   margin-top: 15px;
   margin-bottom: 15px;
}
.modal-content hr {
   color: #FFF;
   border-color: #FFF;
}
label {
   font-weight: normal;
}
.bootstrap-select {
   width: auto !important;
   min-width: 150px;
}
.bootstrap-select .btn, .filter-btn {
   background-color: #2581D4;
}
.select-orange {
   background-color: #FF7F00 !important;
}
.spacer {
   height: 30px;
}
.title {
   font-size: 34px;
   color: #1b7fd7;
   padding: 15px;
   border-left: 4px solid #1C7FD7;
   margin-top: 0;
}
.intro {
   font-weight: 600;
}
.filter-results {
   font-size: 12px;
   color: #00405e;
   font-weight: bold;
}
.sort-by {
   text-align: right;
   font-size: 12px;
   color: #00405e;
}
.sort-by select {
   border: 1px solid #00405e;
   font-size: 10px;
}
/* Footer styles */

#footer {
   text-align: center;
   background-color: #00A3D8;
   color: #FFF;
   margin-top: 30px;
   height: 600px;
   padding-top: 15px;
}
#footer p > a {
   color: #003F5F;
}
.disclaimer {
   margin: 45px 0;
}
.footer-logo {
   margin: 45px 0;
   text-align: center;
}
.footer-logo img {
   display: inline;
}
/* Footer nav */

#footer .nav > li > a {
   color: #FFF;
}
#footer .nav > li > a:hover, .nav > li > a:focus {
   background-color: transparent;
   color: #00415f !important;
   text-decoration: none;
}
#footer .nav > li.active a {
   color: #00415f;
}
/* modal dialog */


.signin-column {
   width: 30%;
   float: left;
   margin-right: 4%;
   color: #fff;
}
.signin-column h2 {
   color: #fff;
   margin: 0;
}
.register-column {
   width: 63%;
   float: right;
   color: #ccc !important;
}
.register-col1 {
   width: 45%;
   float: left;
   margin-right: 3%;
}
.register-col2 {
   width: 45%;
   float: right;
}
.register-column h2 {
   color: #ccc !important;
   margin: 0;
   margin-top: -55px;
   width: 200px;
}
#register-form .form-control {
   background-color: #eee;
}
.alt-sign-in {
   text-align: center;
   margin-top: 15px;
   padding-top: 15px;
   border-top: 1px solid #ccc;
}
.sign-in-gmail a, .sign-in-linkedin a {
   font-size: 20px;
   color: #fff;
}
.modal-content {
   color: #fff;
   padding: 30px;
}
.close {
   color: #FFF;
   opacity: 1;
}
/* widgets */

.widget {
   border-bottom: 1px solid #0070A2;
}
.widget h3 {
   font-size: 21px;
   color: #00405F;
   border-bottom: 1px solid #0070A2;
   padding: 15px 0px 5px;
   font-weight: normal;
}
.widget h4 {
   font-size: 18px;
   color: #0070a1;
   font-weight: bold;
}
.widget.contact a {
   color: #0070a1;
}
.blue-col {
   background-color: #2581D4;
   padding: 15px;
   color: #fff;
}
.blue-col .btn-download-data {
   min-width: 67px;
   font-size: 12px;
}
.blue-col .btn-download-all-data {
   min-width: 220px;
}
/* Project */

h1.project-title {
   font-size: 20px;
   color: #1C7FD7;
   background-color: #EFEFEE;
   padding: 15px;
   border-left: 4px solid #1C7FD7;
   margin-top: 0;
   line-height: 26px;
}
.project-detail h2 {
   border-bottom: 1px solid #0070A2;
   padding-bottom: 5px;
}
/* projects */

.last-update {
   font-size: 10px;
   color: #003F5E;
   font-weight: 400;
   font-style: italic;
}
.project-col-1 > ul {
   margin: 0;
   padding: 0;
   list-style: none;
}
.project-col-1 > ul > li {
   margin: 5px 0;
   padding: 2px 15px;
   font-size: 14px;
}
li.region {
   background-color: #2581D4;
   color: #fff;
}
li.state {
   color: #00A3D8;
}
li.donors, li.organisation {
   color: #003F5E;
}
span.sector {
   color: #003F5E;
}
.project-col-2 h2, .project-col-2 h2 a {
   font-size: 20px;
   color: #2580D3;
   line-height: 24px;
}
.project-col-2 h2 a:hover {
   font-size: 20px;
   color: #85b200;
   text-decoration: none;
}
.project-col-3 p:first-child {
   margin-top: 8px;
}
.budget {
   font-size: 28px;
   float: right;
   line-height: 11px;
   font-weight: bold;
}
.budget >span {
   color: #00A3D8;
}
.big-text {
   font-size: 28px;
   float: right;
   line-height: 11px;
   font-weight: bold;
   color: #00A3D8;
}
.project-col-3 .float-right {
   float: right;
}
.projects-filter {
   background-color: #00425F;
   color: #FFF;
   line-height: 48px;
   font-size: 14px;
   padding: 0 15px;
   margin: -48px 15px 15px;
   position: relative;
}
.projects-title-bar {
   background-color: #00425F;
   color: #FFF;
   font-size: 14px;
   padding: 0 15px;
}
.projects-title-bar h2 {
   font-size: 21px;
   color: #fff;
   line-height: 44px;
}
.filters-text {
   margin-right: 15px;
   text-transform: uppercase;
}
.filter-right-buttons {
   float: right;
}
/* Country detail */

.country-detail h3 {
   border-bottom: 1px solid #0070A2;
   padding-bottom: 5px;
   font-size: 21px;
   font-weight: normal;
}
.view-details {
   color: #00405F;
   line-height: 32px;
}
/* pagination styles */

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
   font-size: 16px;
   line-height: 16px;
   font-weight: bold;
}
/* pager */

.top-pager {
   margin-top: 15px;
}
.top-pager span {
   float: right;
}
.top-pager a {
   color: #9e9e9e;
   font-size: 21px;
}
/* Lists */


.list-search {
   padding: 15px 0;
   margin: 15px 0px 30px 0px;
   border-bottom: 1px solid #0070A2;
   border-top: 1px solid #0070A2;
}
.list-col h2 {
   color: #004a76;
   margin: 0;
   line-height: normal;
}
.list-col h2 a {
   font-size: 20px;
   color: #2580D3;
}
.list-col h2 a:hover {
   font-size: 20px;
   color: #85b200;
   text-decoration: none;
}
/* table */ 

.table thead {
   background-color: #00425F;
   color: #fff;
}
.table > thead > tr > th {
   vertical-align: bottom;
   border-bottom: 0px solid #00425F;
}
.table td {
   border-left: 1px solid #00425F;
   color: #0070A1;
}

.hp-total-wrapper .table td{
   border-left: 0;
   border-top: 0;
}

td:first-child {
   border-left: none;
}
/* project detail info widget */

.info-row {
   font-size: 12px;
   border-bottom: 1px solid #0070A2;
   padding-bottom: 10px;
   display: block;
   clear: both;
   padding-top: 10px;
}
.info-row-first {
   padding-top: 0;
}
.info-row-last {
   border-bottom: none;
}
.info-col-1 {
   color: #003f5e;
   width: 50%;
   display: block;
   float: left;
}
.info-col-2 {
   color: #003f5e;
   width: 50%;
   display: block;
   float: left;
}
.info-budget {
   width: 30%;
}
.info-budget-price {
   width: 70%;
   font-size: 21px;
   line-height: 15px;
}
.info-budget-price span {
   color: #00A3D8;
}
/* dashboard */

.dashboard h1 {
   font-size: 30px;
   color: #00405F;
}
.dashboard h2 {
   font-size: 30px;
   color: #1c7fd7;
   margin-top: 0;
}
.dashboard h3 {
   font-size: 21px;
   color: #003f5f;
}
.dashboard-menu {
   margin-bottom: 30px;
}
.dashboard h3 > span {
   font-weight: bold;
}
.dashboard-menu ul {
   list-style: none;
   margin: 0;
   padding: 0;
   margin-bottom: 15px;
}
.dashboard-menu ul > li {
   display: block;
   border-bottom: 1px solid #0070A2;
}
.dashboard-menu ul > li > a {
   display: block;
   font-size: 21px;
   color: #1b7fd7;
   font-weight: bold;
   margin-bottom: 5px;
}
.dashboard-menu ul > li > a:hover {
   color: #85B200;
   text-decoration: none;
}
.saved-projects td {
   border-left: none;
   line-height: 2em !important;
   padding: 0 15px !important;
}
.saved-projects-header td, .select-all {
   color: #444444;
}
.delete-projects {
   float: right;
   color: #444444;
}
/* Responsive stuff */

.navbar-toggle {
   background-color: #004160;
}
.navbar-toggle .icon-bar {
   background-color: #fff;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.gray-col-home {
   min-height: 460px;
}
.top-nav {
   margin-left: 30px;
}
.sign-in {
   margin-left: 30px;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width: 1199px) {
.gray-col-home {
   min-height: 560px;
}
.btn-download-all-data {
   min-width: 100%;
}
ul.navbar-nav {
   padding-top: 0px;
   padding-bottom: 15px;
   margin-left: -10px;
}
.sign-in {
   margin-left: 90px;
}
.nav-search {
   margin-top: -5px;
}
body {
   padding-top: 140px;
}
}



/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 991px) {
.gray-col-home {
   min-height: auto;
}
ul.navbar-nav {
   padding-top: 0px;
   padding-bottom: 15px;
   margin-left: -10px;
}
.sign-in {
   margin-left: 30px;
}
.nav-search {
   margin-top: -5px;
}
.filters-text {
   display: block;
}
.filter-right-buttons {
   float: none;
}
.project-col-3 hr {
   display: none;
}
body {
   padding-top: 140px;
}
.dashboard-menu {
   position: relative;
}
}




@media only screen and (max-width : 768px) {
body {
   padding-top: 0px;
}
.navbar-fixed-top {
   position: relative;
}
.menu-divider {
   display: none !important;
}
ul.navbar-nav {
   padding-top: 0px;
}
.navbar-nav>li>a {
   padding: 5px 0px;
}
.navbar-brand img {
   max-width: 260px;
}
.nav-search {
   position: relative;
   margin-top: -257px;
   background-color: red;
   float: right;
   display: inline-block;
   width: 0px;
}
.signin-column, .register-column, .register-col1, .register-col2 {
   width: 100%;
}
.register-column h2 {
   margin-top: 30px;
}
.filters-text {
   display: block;
}
.filter-right-buttons {
   float: none;
}
.project-col-3 hr {
   display: none;
}
.dashboard-menu {
   position: relative;
}

.hp-total-wrapper canvas{
   display: none;
}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
.navbar-brand img {
   max-width: 160px;
   margin-top: 0px
}
.map, #carousel-homepage {
   display: none;
}
.map-alt-mobile {
   display: block;
}
.projects-filter {
   margin-top: 0px;
   text-align: center;
}
.filter-right-buttons {
   display: block !important;
}
.top-pager a {
   font-size: 12px;
}

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
.navbar-brand img {
   max-width: 130px;
   margin-top: 0px
}
}





.pagination > .disabled > a,
.pagination > .disabled > span,
.pagination > .disabled > a:hover,
.pagination > .disabled > span:hover,
.pagination > .disabled > a:focus,
.pagination > .disabled > span:focus {
  z-index: 2;
  color: #00a3d9;
  background-color: transparent;
  border-color: transparent;
  cursor: default;
  font-size: 16px;
  line-height: 16px;   
  font-weight: bold;
}

.pagination > .prev.disabled > a,
.pagination > .prev.disabled > span,
.pagination > .prev.disabled > a:hover,
.pagination > .prev.disabled > span:hover,
.pagination > .prev.disabled > a:focus,
.pagination > .prev.disabled > span:focus,
.pagination > .next.disabled > a,
.pagination > .next.disabled > span,
.pagination > .next.disabled > a:hover,
.pagination > .next.disabled > span:hover,
.pagination > .next.disabled > a:focus,
.pagination > .next.disabled > span:focus {
  z-index: 2;
  color: #ccc;
  background-color: transparent;
  border-color: transparent;
  cursor: default;
  font-size: 14px;
  line-height: 20px;   
  font-weight: normal;
}



.country-marker-popup-header{
    background-color: #004A76;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 8px 14px;
  }

  .leaflet-container .region-map-name a, .leaflet-container .country-marker-popup-header a{
    color: #fff;
  }

  .country-marker-icon{
    background: url("../img/marker-icon.png");
    text-align: center;
    padding-right: 6px;
    padding-top: 6px;
    font-weight: bold;
    color: #004B77;
  }

  .country-marker-popup-zoom{
    color: #004A76;
    font-size: 10px;
    font-weight: bold;
    padding: 12px 16px;
    display: block;
    cursor: pointer;
  }

  .country-popup .leaflet-popup-content-wrapper{
    border-radius: 4px;
    border: 1px solid white;
  }

  .country-popup .leaflet-popup-tip-container{
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #fff;
    display: block;
    position: absolute;
    top: 62px;
    left: -9px; 
  }
  .country-popup .leaflet-popup-tip{
    display: none;
  }

  .country-popup .leaflet-popup-content{
    font-size:14px;
    margin: 0px;
  }
  
  .country-popup .leaflet-popup-content table{
    margin-left: 14px;
    margin-top: 6px;
    width: 286px;
    margin-right: 2px;
  }

  .country-popup .leaflet-popup-content table td{
    border-bottom: 1px solid #ccc;
    color: #444;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 6px;
  }

  .region-popup .leaflet-popup-tip{
    display: none;
  }

  .region-popup .leaflet-popup-content-wrapper{
    border-radius: 0px;
  }

  .region-popup .leaflet-popup-content table{
    margin-left: 14px;
    margin-top: 6px;
    width: 286px;
    margin-right: 2px;
  }

  .region-popup .leaflet-popup-content table td{
    border-bottom: 1px solid #ccc;
    color: #444;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 6px;
  }

  .global-map-item-wrapper, .region-map-item-wrapper{
    position: relative;
    white-space: nowrap;
  }



  .global-map-activity-count, .region-map-activity-count{
    background-color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 3px 12px;
    color: #0077D3;
    display: inline-block;
    text-align: center;
    z-index: 99;
  }

  .global-marker-icon, .region-marker-icon{
    width: auto !important;
  }

  .global-map-name, .region-map-name{
    background-color: #004B77;
    color: #fff;
    font-size: 26px;
    padding: 3px 20px;
    display: inline-block;
    white-space: nowrap;  
  }

  .global-map-name{
    left: 66px;
    padding-left: 250px;
    padding-right: 250px;

    text-align: center;
  }



   .embed-code textarea {
      background-color: #00425F;
      color: #fff;
      width: 100%;
      height: 160px;
      overflow: hidden;
   }

   .social-media-widget{
      padding-bottom: 10px;
   }





.openunh-share-buttons{   
   padding-top: 0.2em;
   padding-bottom: 0.4em;
}


.openunh-share-buttons .wpfp-span a{
   display: block;
   background: none;
   background-image: none;
   background-repeat: no-repeat;
   -webkit-filter: none;
   -ms-filter: none;
   -moz-filter: none;
   -o-filter: none;
   filter: none;
}


#openunh-share-linkedin, #openunh-share-twitter, #openunh-share-facebook, #openunh-share-googleplus {
   display: inline-block;
   background-image: url('../img/share-buttons32.png');
   background-repeat: no-repeat;
   width:32px;
   height:32px;
   margin-right:0.3em;
   margin-bottom: 0em;
   margin-top: 0.3em;
   -webkit-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -o-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#01FFFFFF,endColorstr=#01FFFFFF) gray;
   padding: 0.1px;
   zoom: 1;
}

#openunh-share-linkedin:hover , #openunh-share-twitter:hover , #openunh-share-facebook:hover , #openunh-share-googleplus:hover {
-webkit-filter: grayscale(0);
-moz-filter: grayscale(0);
-ms-filter: grayscale(0);
-o-filter: grayscale(0);
filter: grayscale(0);
filter: none;
cursor: pointer;
}

.synved-social-fade img {
opacity:0.65;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#01FFFFFF,endColorstr=#01FFFFFF) progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
}
.synved-social-fade:hover img {
opacity:1;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#01FFFFFF,endColorstr=#01FFFFFF) progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#01FFFFFF,endColorstr=#01FFFFFF) progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

#openunh-share-linkedin{
   background-position:0 0;
}

#openunh-share-twitter{
   background-position:-32px 0;
}

#openunh-share-facebook{
   background-position:-64px 0;
}

#openunh-share-googleplus{
   background-position:-96px 0;
}


#vis {
   width: 1140px;
   height: 400px;
   clear: both;
   background-color: #EFEFEE;
   opacity: 0;
}

#svg_vis{
   margin-left: 320px;
   overflow:visible;
}

footer {
  text-align: center;
}

#view_selection {
  margin-top: 10px;
}

.scatter-plot-header{
   fill: #008CCB;
   font-size: 21px;
}

#vis .years {
  font-size: 13px;
  fill: #00709F;
  font-weight: 600;
}

.tooltip {
   position: absolute;
   top: 100px;
   left: 100px;
   border: 0;
   background: #0070A2;
   opacity: 1;
   color: #fff;
   padding: 0;
   width: 200px;
   font-size: 12px;
   z-index: 10;
}

.tooltip .title {
   font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

.scatter-popup-region{
   background: #00415E;
   padding: 2px 8px;

}

.scatter-popup-title, .leaflet-popup-title{
   font-weight: bold;
   padding: 2px 8px;
   font-size: 13px;
}

.scatter-popup-budget-header{
   font-size: 11px;
   color: #00415E;
   background: #00A3D9;
   padding: 2px 8px;
   display: inline-block;
   vertical-align: middle;
   height: 36px;
   width: 20%;
}

.scatter-popup-budget-value{
   display: inline-block;
   font-size: 21px;
   background: #00A3D9;
   padding: 2px 8px;
   vertical-align: middle;
   height: 36px;
   width: 80%;
}

.scatter-popup-visit{
   padding: 2px 8px;
}

#project-list-wrapper a{
   color: inherit;
}

#project-list-wrapper a:hover{
   color: #85b200;
   text-decoration: none;
}

#project-list-pagination, #grouped-list-pagination{
   text-align: center;
}

#regions-filter-wrapper, #countries-filter-wrapper, #sectors-filter-wrapper, #budgets-filter-wrapper{
   display: inline-block;
}

#donor-filters .projects-filter{
   margin-top: 16px;
}

.leaflet-popup-content-wrapper{
   padding: 0;
   background: #0070a2;
   box-shadow: 0;
   color: #fff;
   border-radius: 0;
}

.leaflet-popup-title a{
   color: #fff;
}

.leaflet-popup-content{
   margin: 0;
}

.leaflet-popup-title{
   background-color: #00425F;
}

.leaflet-popup-budget-wrapper{
   width: 100%;
   background: #FFF;
   min-width: 130px;
   font-size: 13px;
   color: #00415E;
   padding: 8px 8px;
   display: inline-block;
   vertical-align: middle;
   height: 36px;
}

.leaflet-popup-budget-wrapper span{
   color: #00A3D9;
}



.leaflet-popup-budget-wrapper{

}

.leaflet-popup-budget-header{
   width: 100px;
}

.leaflet-popup-budget-value{
   width: 40%;
}

.country-title img, .country-title h1{
   display: inline-block;
}

.country-title h1{
   vertical-align: bottom;
   margin-bottom: -5px;
   margin-left: 0px;
}

#country-page-filters #sectors-filter-wrapper, #country-page-filters #budgets-filter-wrapper, #donor-filters #sectors-filter-wrapper, #donor-filters #budgets-filter-wrapper{
   display: none;
}

#embed-page{
   padding-top: 0;
   min-height: 500px;
   background: transparent;
   width: 600px;
}

#embed-page .row{
   width: 600px;
}

#embed-page #project-detail-map{
   height: 370px;
}


#embed-page .project-title a{
   color: #1C7FD7;
}


#embed-page .project-description{
   padding-right: 10px;
}

#embed-page .widget h3{
   padding-top: 0;
   margin-top: 0;
}

.hp-total-wrapper{
   background-color: #fff;
   padding: 1em 2em 1em;
   margin: 0em 1.7em 0.5em;
   background-image: url('../img/noise.png');
   -moz-box-shadow: 2px 2px 6px #aaa;
   -webkit-box-shadow: 2px 2px 6px #aaa;
   box-shadow: 2px 2px 6px #aaa;
}

.hp-total-wrapper canvas{
   margin-top: 44px;
}

.hp-total-wrapper table td{
   font-size: 12px;
   font-weight: bold;
   color: #3789D4;
}

.hp-table-title{
   color: #00415F;
   font-size: 18px;
   font-weight: bold;
   padding-top: 0.3em;
   padding-bottom: 0.8em;
}

.hp-table-nr{
   max-width: 18px;
}

.hp-total-wrapper h2{
   color: #00415F;
   margin-top: 0.2em;
   margin-bottom: 0;
   font-weight: bold;
}

.hp-total-wrapper hr{
   margin-top: 5px;
   margin-bottom: 10px;
}

.hp-total-wrapper span{
   letter-spacing: 1px;
}

.hp-total-value{
   font-weight: bold;
   font-size: 44px;
   color: #2083DC;
}

.hp-table-value{
   min-width: 120px;
}

.chartjs-tooltip-header{
   background-color: #00425F;
   color: #fff;
   padding: 10px;
   font-weight: bold;
}

.chartjs-tooltip-value{
   color: #3789D4;
   padding: 10px;
   font-size: 12px;
}

#chartjs-tooltip, #chartjs-tooltip-1, #chartjs-tooltip-2 {
   z-index: 99;
   width: 180px;
   opacity: 1;
   position: absolute;
   background: #fff;
   color: white;
   padding: 0px;
   -webkit-transition: all .1s ease;
   transition: all .1s ease;
   pointer-events: none;
   -webkit-transform: translate(-50%, 0);
   transform: translate(-50%, 0);
}